/*===========================admin style start============================*/
.netgo-facebook-post-setting .form-table tr {
    background: #fff none repeat scroll 0 0;
    display: block;
    float: none;
    margin: 0 0 0px;
    padding: 0 25px;
    position: relative;
}

#settingForm h2  ,.netgo-facebook-post-setting h2{
    background: #b7b7b7 none repeat scroll 0 0;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 13px 0 #999 inset;
    color: #fff;
    font-size: 20px;
    padding: 6px 13px;
}

.netgo-facebook-post-setting .form-table {
    margin-top: 0px;
}

#toplevel_page_fb-page-setting .dashicons-before img {
    padding: 4px 0 0;
}

.netgo-facebook-post-setting .form-table tr p {
    width: 80%;
}

.netgo-facebook-post-setting .form-table tr p.about-title {
    color: #000;
    font-weight: 700;
    padding: 10px 0 0;
}

.netgo-facebook-post-setting .form-table tr p a {
    color: #000;
    font-size: 13px;
    font-weight: 700;
}

.form-table .stgs th{
	padding: 12px 10px 12px 0;
}

.added-success {
    background-color: #fff;
    border-left: 4px solid #7ad03a;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    padding: 1px 12px;
    width: 95.8%;
}

#settingForm .form-table{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	
}


/*====================12-August-CSS==================*/


.netgo-facebook-post-setting .form-table ul.tabs li a {
    background: #d3d3d3 none repeat scroll 0 0;
    border-radius: 0 !important;
    box-shadow: -2px 0 0 0 #000;
    color: #000;
    display: block;
    padding: 9.9px 35px;
    text-decoration: none;
}

.netgo-facebook-post-setting .form-table td {
    padding: 0;
}

.netgo-facebook-post-setting .tabs li a.active {
    background: #f2f2f2 url("../images/arrow-im.png") no-repeat scroll 97% center !important;
	box-shadow: -2px 0 0 0 #900 !important;
}

.netgo-facebook-post-setting .stgs {
    box-shadow: 0 0 2px 0 #000;
    height: 255px;
	margin-top:15px;
	margin-bottom: 25px;
}

.netgo-facebook-post-setting .form-table td:first-child {
    position: relative;
	width:216px;
}


.netgo-facebook-post-setting .form-table td:first-child .tabs {
    position:absolute;
    top: -1px;
}





/*====================12-August-CSS==================*/




/*===========================admin style end============================*/






/*==================================FB-WALL-POST-ABOUT-17-August================================*/



.netgo-facebook-post-about .form-table td:first-child {
    position: relative;
    width: auto;
	padding-bottom:30px;
}

/*==================================FB-WALL-POST-ABOUT-17-August================================*/
